@model bai2.staff

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("Create","Staff", FormMethod.Post,new {@id = "createStaff", enctype = "multipart/form-data"})) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>staff</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" }, name = "name" })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            Male
            @Html.RadioButtonFor(model => model.gender, "Male")
            Female
            @Html.RadioButtonFor(model => model.gender, "Female")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.birthday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div>
                @Html.TextBoxFor(model => model.birthday, new { @type = "date", htmlAttributes = new { @class = "form-control" }, name = "birthday" })
            </div>
            @Html.ValidationMessageFor(model => model.birthday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="uploadImage" value="" />
        </div>
    </div>
    <div class="form-group" style="margin: 10px">
        <p>Program</p>
        <select class="js-example-basic-multiple" name="programs[]" multiple="multiple">

            @foreach (var item in @ViewBag.programList)
            {
                <option value="@item.id">
                    <p>@item.name</p>
                </option>
            }

        </select>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="submit_button" type="button" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
</script>
<script>
    

    $(document).ready(function () {
        $("#createStaff").validate({
            // Specify validation rules
            rules: {
                name: "required",
                birthday : "required"
            },
            messages: {
                name: "Tên giáo viên không được để trống",
                birthday : "Ngày sinh không được để trống"
            },
            submitHandler: function (form) {
                form.submit()
            }
        });
    })

    $('#submit_button').click(function() {
			if ($('#createStaff').valid()){
				$('#createStaff').submit();
			}
		})
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
