@model IEnumerable<bai2.program>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.number_student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.start_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.finish_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.days)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.number_student)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.start_time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.finish_time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.days)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.number_student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.start_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.finish_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.days)
            </th>
            <th style="display: none"></th>
        </tr>
    </tfoot>
</table>
