@model bai2.staff_program

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "StaffProgram", FormMethod.Post, new { @id = "createStaffProgram" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>staff_program</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>Choose Staff</label>
            <div class="col-md-10">
                @Html.DropDownList("id_staff", (IEnumerable<SelectListItem>)ViewBag.staffList, "Choose Staff", new { @class = "form-control", name = "id_staff" })
            </div>
        </div>

        <div class="form-group">
            <label>Choose Program</label>
            <div class="col-md-10">
                @Html.DropDownList("id_program", (IEnumerable<SelectListItem>)ViewBag.programList, "Choose Program", new { @class = "form-control", name = "id_program" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit_button" type="button" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
</script>
<script>


    $(document).ready(function () {
        $("#createStaffProgram").validate({
            // Specify validation rules
            rules: {
                id_staff: "required",
                id_program : "required"
            },
            messages: {
                id_staff: "Vui lòng chọn giáo viên",
                id_program : "Vui lòng chọn học phần"
            },
            submitHandler: function (form) {
                form.submit()
            }
        });
    })

    $('#submit_button').click(function() {
			if ($('#createStaffProgram').valid()){
				$('#createStaffProgram').submit();
			}
		})
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
