@model bai2.staff_program

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>staff_program</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_staff)
        </dt>

        <dd>
            @foreach (var staff in ViewBag.staffList)
            {
                if (staff.id == Model.id_staff)
                {
                    @staff.name
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_program)
        </dt>

        <dd>
            @foreach (var program in ViewBag.programList)
            {
                if (program.id == Model.id_program)
                {
                    @program.name
                }
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
